# Токен вашего Telegram бота (получите у @BotFather)
TELEGRAM_BOT_TOKEN=123456789:AABBCCDD_abcdefgh

# Список ID админов в Telegram через запятую (например: 123456789,987654321)
TELEGRAM_ADMIN_ID=12345678
